/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
#suggestwrap{
	margin:0;
	padding:0;

}

#suggestwrap li{
	padding:0.5em 1em;
	
}

#suggestwrap li:hover{
	background-color:pink;
	}
	
	
#movieview span{
  width:50%;
  display:block;
  float:left;}
#movieview img{
  max-height:100%;
  max-width:50%;
  float:left;
}
